body{
    background: #cccccc;
}
.main{
    width: 980px;
    height: 1386px;
    margin: 20px auto;
    background: #ffffff;
}
.header, .top, .center, .bottom, .footer{
    width: 892px;
    margin-left: 45px;
}
.header{
    height: 61px;
    border-bottom: 2px solid #938e8c;
    background: url("image/task6_headerBg.gif") no-repeat ;
}
.header .h_left{
    font-size: 12px;
    color: #ffffff;
    font-family: "黑体";
    margin-left: 6px;
    float: left;
    margin-top: 46px;

}
.header .h_right{
    font-size: 12px;
    color: #d45d5c;
    font-family: "黑体";
    float: right;
    margin-top: 46px;
}

.top{
    height: 301px;
    margin-top: 34px;
}
.top .topBanner{
    width: 641px;
    height: 301px;
    background: url("image/task6_topLeftBg.gif") no-repeat;
}
.top .topRight{
    width: 203px;
    border-top: 2px solid #cc8091;
    float: right;
}
.top .topRight .about1, .top .topRight .about2{
    font-size: 17px;
    color: #000;
    font-family: "微软雅黑";
    padding-bottom: 4px;
}
.top .topRight .big{
    font-size: 24px;color: #000000;
}
.top .topRight .about1{
    margin-top: 12px;
    background: url("image/task6_topRight_Underline1.gif") no-repeat 0 24px;
    margin-bottom: 5px;
}
.top .topRight .about2{
    background: url("image/task6_topRight_Underline2.gif") no-repeat 0 24px;
}
.top .topRight .small_about{
    font-size: 12px;
    color: #676767;
    font-family: "楷体";
    font-style: italic;
}
.top .topRight .small{
    margin-bottom: -2px;
    margin-top: 2px;
}
.top .topRight .seven{
    font-size: 116px;
    font-family: "微软雅黑";
    color: #75b86b;
    font-style: italic;
    margin-left: -20px;
    padding-top: 29px;
}
.top .topRight .three_two{
    font-size: 55px;
    color: #cc8091;
    font-family: "微软雅黑";
    float: left;
    padding-top: 6px;
}
.top .topRight .css{
    font-size: 21px;
    color: #cc8091;
    font-family: "微软雅黑";
    padding-top: 23px;
}
.top .topRight .small_css{
    font-size: 12px;
    color: #cccccc;
    font-family: "微软雅黑";
}
.top .clearfix{
    *zoom:1;
}
.top .clearfix:after{
    content: "";
    display: block;
    clear: both;
}

.center{
    margin-top: 40px;
}
.center #what{
    float: left;
    width: 230px;
    margin-right: 24px;
}
.center #when{
    float: left;
    width: 206px;
    margin-right: 24px;
}
.center #how{
    width: 152px;
    float: left;
}
.center .what, .center .when, .center .how{
    font-size: 16px;
    font-family: "微软雅黑";
    font-weight: bold;
    padding-bottom: 12px;
}
.center .what{
    color: #418c59;
    background: url("image/task6_center_underline1.gif") no-repeat 0 16px;
}
.center .when{
    color: #d2994f;
    background: url("image/task6_center_underline2.gif") no-repeat 0 16px;
}
.center .how{
    color: #cc7680;
    background: url("image/task6_center_underline3.gif") no-repeat 0 16px;
}
.center .fe{
    font-size: 12px;
    color: #767777;
    font-family: "宋体";
    line-height: 16px;
}
.center .how_fe{
    line-height: 20px;
    margin-bottom: 20px;
}
.center .how_what{
    padding-bottom: 4px;
}
.center .how_pink{
    color: #cd4a48;
    font-style: italic;
}

.bottom {
    /*overflow: hidden;*/
    height: 645px;
    border-bottom: 1px solid #938e8c;
    margin-top: 62px;
}
.bottom .bottomLeft{
    /*border: 1px solid black;*/
    width: 415px;
    float: left;
}
.bottom .bottomLeft div:nth-child(1){
    height: 152px;
    border-bottom: 2px solid #11456b;
    font-family: "黑体";
    font-weight: bold;
}
.bottom .bottomLeft div:nth-child(1) p {
    font-size: 42px;
    color: #11456b;
}
.bottom .bottomLeft:nth-child(1) span {
    font-size: 72px;
    color: #f5e327;
    font-style: italic;
    padding-right: 20px;
}
.bottom .bottomLeft div:nth-child(1) p:last-child {
    font-size: 33px;
    padding-bottom: 10px;
}
.bottom .bottomLeft div:nth-child(2) p {
    font-size: 12px;
    line-height: 16px;
    font-family: "宋体";
    color: #767777;
}
.bottom .bottomLeft div:nth-child(2) .p_indent {
    text-indent: 2em;
}
.bottom .bottomLeft div:nth-child(2) .firstP {
    margin-top: 25px;
}
.bottom .bottomLeft div:nth-child(2) .firstP::first-letter {
    font-size: 70px;
    font-family: "微软雅黑";
    color: #f5e327;
    float: left;
    margin: 25px 8px 30px 0;
}
.bottom .bottomLeft div:nth-child(2) img {
    float: right;
    margin: 18px 0 2px 16px;
}
.bottom .bottomRight {
    float: right;
}
.bottom .bottomRight > div:nth-child(1) {
    height: 257px;
    background: url("image/task6_bottomRightBg.gif") no-repeat;
    position: relative;
}
.bottom .bottomRight > div:nth-child(1) span {
    font-size: 26px;
    color: #ffffff;
    font-family: "微软雅黑";
}
.bottom .bottomRight > div:nth-child(1) .bR_title {
    font-size: 12px;
    color: #72b16a;
    font-style: italic;
    padding-left: 5px;
}
.bottom .bottomRight .bR_spanTitle {
    position: absolute;
    top: 210px;
    left: 53px;
}
.bottom .bottomRight .bR_bottom {
    background: #eeedd6;
    width: 458px;
    margin-top: 30px;
}
.bottom .bottomRight .bR_bottom ul {
    padding-bottom: 30px;
    padding-top: 5px;
}
.bottom .bottomRight .bR_bottom ul li {
    font-size: 16px;
    font-family: "宋体";
    color: #5a5b5b;
    text-align: left;
    padding-left: 48px;
    padding-top: 25px;
    background: url("image/task6_bottomRight_libg.gif") no-repeat 32px 27px;
}
.bottom .bottomRight .bR_bottom li span {
    font-size: 12px;
    text-align: right;
    font-style: italic;
}
.bottom .bottomRight .bR_bottom .bR_red {
    float: left;
    width: 260px;
    height: 160px;
    background: #d55d5c;
}
.bottom .bottomRight .bR_bottom .bR_red div:nth-child(1) {
    font-size: 110px;
    color: #ffffff;
    padding-top: 26px;
    padding-left: 11px;
    float: left;
    /*margin: auto;*/
}
.bottom .bottomRight .bR_bottom .bR_red div:nth-child(2) {
    width: 2px;
    height: 86px;
    background: #ffffff;
    float: left;
    margin-top: 40px;
    margin-left: 4px;
}
.bottom .bottomRight .bR_bottom .bR_red div:nth-child(3) {
    font-size: 21px;
    font-family: "黑体";
    font-style: italic;
    color: #ffffff;
    margin-left: 87px;
}
.bottom .bR_bottom .one_padding {
    padding-top: 45px;
    padding-bottom: 3px;
}
.bottom .bottomRight .bR_bottom .bR_red div:nth-child(4) {
    margin-left: 89px;
    font-size: 12px;
    color: #ffffff;
    font-family: "黑体";
    /*padding-top: 5px;*/
}
.bottom .bR_bottom .hello_padding {
    padding-top: 5px;
}
.bottom .bottomRight .bR_bottom .quot_hello {
    font-size: 14px;
    color: #5b5b5b;
    font-family: "黑体";
    font-style: italic;
    line-height: 16px;
    margin-left: 276px;
    text-indent: 3em;
    position: relative;
    margin-top: 15px;
}
.bottom .bottomRight .bR_bottom .quot_hello span {
    font-size: 72px;
    color: #d45d5c;
    position: absolute;
    font-style: normal;
}
.bottom .bottomRight .bR_bottom .quot_start {
    top: 15px;
    left: -80px;
}
.bottom .bottomRight .bR_bottom .quot_end {
    top: 78px;
    left: 88px;
}
